body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

.orange-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 3%;


}

.half-width img {
    width: 75%;

}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5%;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.ex-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


.ex-item {
    width: 40%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 20px;

}

#stack-developer {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#baby-developer {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

footer p {
    text-align: center;
}